.web-img {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 49px;
  text-align: center;
}
