:root {
  --paragraph-color: #7d7987;
  --link-color: #ff9900;
}

.web-img {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0 auto;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 49px;
  text-align: center;
  line-height: 56px;
  margin-bottom: 32px;
}

.paragraph-style {
  font-family: "Open-sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: var(--paragraph-color);
  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 72px auto 33px;
  gap: 28px;
}

ul li a {
  font-family: "Open-sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--link-color);
}

.footer-img {
  bottom: 0px;
  right: 0px;
  position: fixed;
}
